.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  ::ng-deep .qrcode img {
    image-rendering: pixelated;
    width:75%;
    height:75%;
    margin-left:auto;
    margin-right:auto;
    display: block;
  }