// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important; 
    background-image: url(http://chittagongit.com/images/transparent-icon-border/transparent-icon-border-4.jpg) !important;
  }
  .my-custom-menu {
    --width: 500px;
  }