<app-header-menu titulo="Resumo"></app-header-menu>
<ion-content *ngIf="userType.isStudent();else professor">
    <ion-list>

        <ion-list-header>
            <ion-label text-wrap>
                <ion-text>
                    <h3>Disciplina:</h3>
                </ion-text>
            </ion-label>
            <ion-text>
                <p> Presenças:
                </p>
            </ion-text>
        </ion-list-header>

        <div *ngFor="let frequencia of disciplinaFreq;">
            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h3>{{frequencia.disciplina.name}}</h3>
                    </ion-text>
                </ion-label>
                <ion-text>
                    <p> {{frequencia.frequencia}}
                    </p>
                </ion-text>
            </ion-item>
        </div>
    </ion-list>

</ion-content>


<ng-template #professor>
    <ion-content>

    </ion-content>
</ng-template>